* {
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
  padding: 20px;
  font-family: "Karla", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  background-color: #f5f5f5;
  height: 75%;
  max-width: 95%;
  width: 90vw;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 40px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.title {
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

p > span {
  color: #5035ff;
}

h3 {
  padding: 0;
  margin: 0;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  display: grid;
}

.dot {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
}

.dice_one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice_one .dot {
  background-color: red;
}

.dice_two {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dice_two .dot:nth-of-type(2) {
  align-self: flex-end;
}

.dice_three {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dice_three .dot:nth-of-type(3) {
  align-self: flex-end;
}

.dice_three .dot:nth-of-type(2) {
  align-self: center;
}

.dice_four,
.dice_five {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dice_four .column,
.dice_five .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice_five .column:nth-of-type(2) {
  justify-content: center;
}
